# Python
.env.dev
.env.prod
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# Trading Records
# trading_records/screenshots/*
# trading_records/reports/*
!storage/trading_records/screenshots/.gitkeep
!storage/trading_records/reports/.gitkeep

# Logs
storage/logs/*
!storage/logs/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
